*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --verde-escuro:#678060;
  --verde-forte:#4A8039;
  --verde-neutro:#68b450;
  --verde-lima:#aeff95;
  --verde-claro:#CEFFBF;
}

/*Formatações genéricas*/

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
}

p{
  max-width: 400px;
  min-width: 320px;
  margin: auto;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5em;
  color: black;
}

a{
  text-decoration: none;
  color: var(--verde-claro);
}

nav a:hover, li:hover{
  text-decoration: underline;
  cursor: pointer;
  background-color: var(--verde-forte);
}

/*formatando o header e nav*/

nav{
  background-color: var(--verde-neutro);
  width: 100%;
}

nav ul{
  display: flex;
  list-style: none;

}

nav li{
  padding: 10px;
  font-size: 1.3rem;
  color: var(--verde-claro);
}

header{
  background: linear-gradient(to bottom, var(--verde-neutro), var(--verde-forte));
  height: 60px;
  
}

header h1{
  font-size: max(3.5em, 5vw);
  display: inline-block;
  background-color: var(--verde-lima);
  border-radius: 10px;
  padding: 5px;
  color: var(--verde-escuro);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

/*conteúdo*/

.calculadora{
  background-color: rgb(190, 190, 190);
  max-width: 300px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.marge{
  margin-bottom: 20px;
}

h2{
  text-align: center;
  margin-top: 70px;
  font-size: 2.5em;
  color: var(--verde-neutro);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

button{
  width: 120px;
  height: 50px;
  margin: auto;
  display: block;
  margin-bottom: 30px;
  border: none;
  color: white;
  font-size: 1em;
  background-color: var(--verde-neutro);
  transition: .3s ease-out;
}

button:hover{
  cursor: pointer;
  background-color: #a1d692;
  outline: 1px solid var(--verde-lima);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

span{
  display: block;
  padding: 10px;
  text-align: center;
  transition: .2s;
}

span:hover{
  color: var(--verde-neutro);
  cursor: pointer;
}

/*footer*/

footer{
  background: linear-gradient(to bottom, var(--verde-neutro), var(--verde-forte));
  height: 25vh;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: #9ee78a75;
  border-radius: 20px;
}

footer{
  height: 100%;
}

footer a:hover{
  text-decoration: underline;
}

footer p{
  text-align: center;
  color: var(--verde-claro);
}

footer #rodape{
  padding-top: 50px;
  padding-bottom:50px ;
}